@import "src/sass/variables.scss";

.a11y-container {
  display: flex;
  position: fixed;
  top: 1rem;
  right: 1rem;

  .language-flag {
    position: relative;
    left: 1.67rem;
    font-size: 1.325rem;
    line-height: 2.25rem;
    opacity: 0.9;
  }

  .language-select {
    padding-left: 2rem;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+CiAgPHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPSdibGFjaycgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2Utd2lkdGg9JzUnIGQ9J00yIDVsNiA2IDYtNicvPgogIDxwYXRoIGZpbGw9J25vbmUnIHN0cm9rZT0nd2hpdGUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLXdpZHRoPScyJyBkPSdNMiA1bDYgNiA2LTYnLz4KPC9zdmc+);
    border: none;
    box-shadow: $no-box-shadow;
    cursor: pointer;
    @include hc-text-shadow;

    &:hover,
    &:focus-visible {
      box-shadow: $hc-focus-box-shadow;
    }

    option span {
      opacity: .75;
    }
  }
}
