// Bootstrap Settings
$enable-rounded: false;

// Global Variables!
$yellow: #FDB81E;
$darkBlue: #061A32;
$pink: #FC389A;
$lightBlue: #02C2E8;
$grey: #AEB0B5;
$black: black;
$white: white;

// Bootstrap Overrides
$primary: $yellow;
$secondary: $pink;
$form-select-indicator-color: $white;
$form-select-color: $white;

$focus-border: 2px solid $white;

// Global RTS variables
$tagline-font-size: 1.75rem;
$about-font-size: 1.25rem;
$main-section-padding: 5rem;
$alt-section-padding: 4rem;
