@import 'bootstrap/scss/bootstrap';

.blog-page {
  @include padding(2rem 0);
  background-color: $yellow;
  text-align: left;

  a {
    color: $darkBlue;
    text-decoration: none;

    &:hover {
      text-decoration: underline dotted $darkBlue;
    }
  }
}