@import 'bootstrap/scss/bootstrap';
@import '../../components/FontOptions/fontOptions.scss';

.blog-page {
  background-color: $yellow;
}
.blog.breadcrumb-row {
  background-color: $yellow;
}

.blog-page,
.blog-entry-page {
  @include padding(0 0 $alt-section-padding);
  text-align: left;

  a {
    color: $darkBlue;
    text-decoration: none;

    &:hover {
      text-decoration: underline dotted $darkBlue;
    }
  }

  .blog-entry {
    @include margin(1.5rem 0);
  }
}

.blog-entry-page {
  h1 {
    @include font-resize(2rem);
    @include margin(1rem 0 1.75rem);
  }
  h2 {
    @include font-resize(1.5rem);
    @include margin(1.75rem 0 1rem);
  }
  a {
    font-weight: bold;
    text-decoration: underline dotted $pink;

    &:hover,
    &:visited {
      color: $pink;
      text-decoration: underline dotted $pink;
    }
  }
}