// @use "../node_modules/bootstrap/scss/vendor/_rfs.scss";
@import "./../../sass/variables.scss";
@import "./../FontOptions/fontOptions.scss";
@import "~bootstrap/scss/bootstrap.scss";

// App Styling
body {
  &.font-family-serif {
    font-family: serif;
  }
  &.font-family-sans-serif {
    font-family: sans-serif;
  }
  &.font-family-monospace {
    font-family: monospace;
  }
}
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: underline dotted $white;

  &:hover {
    text-decoration-style: dashed;
  }

  &:focus-visible {
    outline: $focus-border;
    text-decoration: none;
  }

  &:visited {
    text-decoration-color: rgba($color: $white, $alpha: 0.5);
  }

  &.dark {
    text-decoration-color: $darkBlue;
  }
}

p, a, span, label {
  @include font-resize(1rem);
}

h1, .h1 {
  @include font-resize(2.5rem);
}
h2, .h2 {
  @include font-resize(2rem);
}
h3, .h3 {
  @include font-resize(1.75rem);
}
h4, .h4 {
  @include font-resize(1.5rem);
}
h5, .h5 {
  @include font-resize(1.25rem);
}
h6, .h6 {
  @include font-resize(1rem);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  color: $darkBlue;
}

.splash-row {
  height: 100vh;
  background-size: cover;
  background-position: center;

  h2 {
    margin-top: $alt-section-padding;
    color: $white;
    font-style: italic;
    font-weight: 300;
    @include font-resize(1.75rem);
  }
}

a.skip-link {
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 1.5s;

  &:focus {
    opacity: 1;
    transition-delay: 0s;
  }
}
