// @use "../node_modules/bootstrap/scss/vendor/_rfs.scss";
@import "./../../sass/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

// App Styling
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: underline dotted $white;

  &:hover {
    text-decoration-style: dashed;
  }

  &:focus-visible {
    outline: $focus-border;
    text-decoration: none;
  }

  &:visited {
    text-decoration-color: rgba($color: $white, $alpha: 0.5);
  }

  &.dark {
    text-decoration-color: $darkBlue;
  }
}

.App {
  text-align: center;
  color: $darkBlue;
}

.splash-row {
  height: 100vh;
  background-size: cover;
  background-position: center;

  h2 {
    @include margin-top($alt-section-padding);
    color: $white;
    font-style: italic;
    @include font-size(1.75rem);
    font-weight: 300;
  }
}

.about-row {
  @include padding(2.5rem 0);

  p {
    @include margin(2.5rem 0);
    color: $darkBlue;
    @include font-size($about-font-size);
    font-style: italic;
  }
}

.purpose-row {
  background-color: $yellow;
  @include padding($main-section-padding 0);

  .purpose-text {
    text-align: left;
  }
  
  .purpose-picture {
    max-width: 100%;
    border-radius: 100%;
  }
}

.footer-row {
  background-color: $pink;
  color: $black;

  a {
    color: $black;
  }
}


