// @use "../node_modules/bootstrap/scss/vendor/_rfs.scss";
@import "./../../sass/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

// App Styling
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: underline dotted $white;

  &:hover {
    text-decoration-style: dashed;
  }

  &:focus-visible {
    outline: $focus-border;
    text-decoration: none;
  }

  &:visited {
    text-decoration-color: rgba($color: $white, $alpha: 0.5);
  }

  &.dark {
    text-decoration-color: $darkBlue;
  }
}

.App {
  text-align: center;
  color: $darkBlue;
}

.splash-row {
  height: 100vh;
  background-size: cover;
  background-position: center;

  h2 {
    @include margin-top($alt-section-padding);
    color: $white;
    font-style: italic;
    @include font-size(1.75rem);
    font-weight: 300;
  }
}
