.App {
  text-align: center;
  color: #061A32;
}

.splash-row {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.splash-row h2 {
  margin-top: 4rem;
  color: white;
  font-style: italic;
  font-size: 1.75rem;
  font-weight: 300;
}

.about-row {
  padding: 2rem 0
}

.about-row p {
  margin:3rem 0;
  color: #061A32;
  font-size: 1.25rem;
  font-style: italic;
}

.purpose-row {
  background-color: #FDB81E;
  padding: 5rem 0;
}

.purpose-text {
  text-align: left;
}

.purpose-picture {
  max-width: 100%;
  border-radius: 100%;
}

.footer-row {
  background-color: #FC389A;
  color: black;
}

.footer-row a {
  color: black;
  text-decoration: none;
}
