.splash-social-buttons {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}

.splash-social-buttons li {
  display: inline-block;
  margin: 0 2rem;
}

.social-icon {
  border: 1px solid white;
}

.social-icon:hover,
.social-icon:focus-visible {
  outline: none;
  border-width: 2px;
}
