@import "src/sass/variables.scss";

.splash-social-buttons {
  position: absolute;
  bottom: $alt-section-padding;
  left: 0;
  right: 0;

  li {
    display: inline-block;
    margin: 0 2rem;

    .social-icon {
      border: 1px solid $white;

      &:hover,
      &:focus-visible {
        outline: none;
        border: $focus-border;
      }
    }
  }
}
