@import "src/sass/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

.splash-social-buttons {
  position: absolute;
  bottom: rfs-value($alt-section-padding);
  left: 0;
  right: 0;

  li {
    display: inline-block;
    @include margin(0 2rem);

    .social-icon {
      border: $unfocus-border;

      &:hover,
      &:focus-visible {
        outline: none;
        border: $focus-border;
      }
    }
  }
}
