.App {
  text-align: center;
  color: $darkBlue;
}

.splash-row {
  height: 50vh;
  min-height: 20rem;
  background-size: cover;
  background-position: center;

  h2 {
    margin-top: calc(16vh + 1rem + 4rem);
    color: $white;
    font-style: italic;
    font-weight: 300;
    font-size: calc(1.75rem * var(--font-size-multiplier));

    .simplified-view & {
      margin-top: 2rem;
    }
  }

  .simplified-view & {
    height: auto;
  }
}

a.skip-link {
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 1.5s;

  &:focus {
    opacity: 1;
    transition-delay: 0s;
  }
}

.about-row {
  @include padding(2.5rem 0);

  p {
    @include margin(2.5rem 0);
    color: $darkBlue;
    font-size: calc(1.25rem * var(--font-size-multiplier));
    font-style: italic;

    .simplified-view & {
      margin-bottom: 0;
    }
  }

  .simplified-view & {
    margin-bottom: 0;
  }
}

.cta-row {
  @include padding($main-section-padding 0);

  .btn {
    width: 100%;
  }

  p {
    font-size: calc(1.25rem * var(--font-size-multiplier));
  }
}

.why-row,
.who-row {
  @include padding($main-section-padding 0);

  p {
    font-size: calc(1.25rem * var(--font-size-multiplier));
  }
}

.products-overview-row {
  @include padding($main-section-padding 0);

  p {
    font-size: calc(1.25rem * var(--font-size-multiplier));
  }
}

.products-row {
  @include padding($main-section-padding 0);

  .product-card {
    h4 {
      font-size: calc(1.25rem * var(--font-size-multiplier));
    }

    p {
      font-size: calc(1.25rem * var(--font-size-multiplier));
    }
  }
}

.contact-row {
  @include padding($main-section-padding 0);

  p {
    font-size: calc(1.25rem * var(--font-size-multiplier));
  }
}
.simplified-view {
  .wcag-cta {
    margin-top: 2rem !important;
  }
}
.purpose-row {
  background-color: $yellow;
  @include padding($main-section-padding 0);

  .purpose-text {
    text-align: left;
  }

  .purpose-picture {
    max-width: 100%;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
  }
}
