@import "./../../sass/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

.about-row {
  @include padding(2.5rem 0);

  p {
    @include margin(2.5rem 0);
    color: $darkBlue;
    @include font-size($about-font-size);
    font-style: italic;
  }
}

.purpose-row {
  background-color: $yellow;
  @include padding($main-section-padding 0);

  .purpose-text {
    text-align: left;
  }

  .purpose-picture {
    max-width: 100%;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
  }
}
