.main-header {
  h1 {
    margin-top: 38vh;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(50% + 0.5vw);
  }

  a {
    text-decoration: none;
  }
}
