@import "bootstrap/scss/bootstrap.scss";

.footer-row {
  background-color: $darkBlue;
  color: white;

  a {
    color: white;
  }
}

.footer-section {
  text-align: left;
  @include padding-top($alt-section-padding);

  h3 {
    @include margin-bottom(1.75rem);
  }

  ul {
    padding-left: 0;
    text-align: left;
  }

  li {
    // display: inline-block;
    @include margin(0 0 1rem 0);
  }

  .github-issues {
    margin-top: 1.5rem;

    a {
      display: inline;
    }
  }

  .copyright {
    text-align: center;
    @include margin(3rem 0 1rem);
  }

  a.logo-link {
    @include padding(0);
    width: 100%;

    .logo-container {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
}
