@import "bootstrap/scss/bootstrap.scss";

// CSS custom properties for runtime font switching
:root {
  --font-size-multiplier: 1;
}

// App Styling
body {
  &.font-family-serif {
    font-family: serif;
  }
  &.font-family-sans-serif {
    font-family: sans-serif;
  }
  &.font-family-monospace {
    font-family: monospace;
  }

  &.simplified-view {
    * {
      color: $darkBlue !important;
      background: none !important;
      text-shadow: none !important;
      border-color: $darkBlue !important;
      transition: none !important;
      display: block;
      text-align: unset;
      margin-left: unset;
    }
    script {
      display: none;
    }
  }
}
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: underline dotted $white;

  &:hover {
    text-decoration-style: dashed;
  }

  &:focus-visible {
    outline: $focus-border;
    text-decoration: none;

    .simplified-view & {
      outline: $sv-focus-border;
    }
  }

  &:visited {
    text-decoration-color: rgba($color: $white, $alpha: 0.5);

    .simplified-view & {
      text-decoration-color: rgba($color: $darkBlue, $alpha: 0.5);
    }
  }

  &.dark,
  .simplified-view & {
    text-decoration-color: $darkBlue;
  }
}

a.logo-link {
  display: inline-block;
  @include padding(1rem 0);
  text-decoration: none;

  &:focus,
  &:focus-visible {
    border: none;
    outline: $focus-border;

    .simplified-view & {
      display: inline-block;
      outline-color: $darkBlue;
    }
  }

  .simplified-view & {
    padding-left: initial;
    display: inline-block;
    margin-top: 2rem;
  }

  h1,
  h3 {
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    position: relative;

    @media (max-width: map-get($grid-breakpoints, md)) {
      font-size: 1.5rem;
    }
  }
}

p,
a,
span,
label {
  font-size: calc(1rem * var(--font-size-multiplier));
}

h1,
.h1 {
  font-size: calc(2.5rem * var(--font-size-multiplier));
}
h2,
.h2 {
  font-size: calc(2rem * var(--font-size-multiplier));
}
h3,
.h3 {
  font-size: calc(1.75rem * var(--font-size-multiplier));
}
h4,
.h4 {
  font-size: calc(1.5rem * var(--font-size-multiplier));
}
h5,
.h5 {
  font-size: calc(1.25rem * var(--font-size-multiplier));
}
h6,
.h6 {
  font-size: calc(1rem * var(--font-size-multiplier));
}

code {
  color: darken($pink, 15%);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.content-row {
  flex-grow: 1;
  & > .col {
    @include padding(0);
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.breadcrumb-container {
  // position: absolute;
  @include padding-top(1.5rem);
  .breadcrumb {
    padding-bottom: 0;
    text-align: left;
  }
  a {
    color: $darkBlue;
    text-decoration: none;

    &:hover {
      text-decoration: underline dotted $darkBlue;
    }
  }
}
