.product-next-steps {
  @include padding(2rem 0 3rem !important);
  // display: flex;
  text-align: left;

  // at md breakpoint the flex direction should be column
  @media (max-width: map-get($grid-breakpoints, md)) {
    flex-direction: column;
  }

  & > .row {
    align-items: stretch;
    .col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
